version: "3"

services:

  jupyterlab:
    image: cploutarchou/jupyterlab:jupyterlab
    container_name: jupyterlab
    ports:
      - 8888:8888
    volumes:
      - shared-workspace:/opt/workspace
  spark-master:
    image: cploutarchou/spark-base:spark-master-image
    container_name: spark-master
    ports:
      - 8080:8080
      - 7077:7077
    volumes:
      - shared-workspace:/opt/workspace
      - logs_dir:/logs/spark-master

  spark-worker-1:
    image: cploutarchou/spark-base:spark-worker-image
    container_name: spark-worker-1
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1024m
    ports:
      - 8081:8081
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master

  spark-worker-2:
    image: cploutarchou/spark-base:spark-worker-image
    container_name: spark-worker-2
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1024m
    ports:
      - 8082:8081
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master

  hadoop-master:
    image: cploutarchou/hadoop-base:hadoop
    container_name: hadoop-master
    restart: always
    ports:
      - 50070:50070
      - 8088:8088
    domainname: hadoop-master
    hostname: hadoop-master
    networks:
      - hadoop

  hadoop-slave-1:
    image: cploutarchou/hadoop-base:hadoop
    container_name: hadoop-slave-1
    domainname: hadoop-slave-1
    hostname: hadoop-slave-1
    networks:
      - hadoop

  hadoop-slave-2:
    image: cploutarchou/hadoop-base:hadoop
    container_name: hadoop-slave-2
    restart: always
    domainname: hadoop-slave-2
    hostname: hadoop-slave-2
    networks:
      - hadoop

  hadoop-slave-3:
    image: cploutarchou/hadoop-base:hadoop
    container_name: hadoop-slave-3
    restart: always
    domainname: hadoop-slave-3
    hostname: hadoop-slave-3
    networks:
      - hadoop

volumes:
  shared-workspace:
  logs_dir:

networks:
  hadoop:
    driver: bridge
