version: "3"

services:

  jupyterlab:
    image: cploutarchou/jupyterlab:jupyterlab
    container_name: jupyterlab
    ports:
      - 8888:8888
    volumes:
      - shared-workspace:/opt/workspace
    networks:
      - hadoop

  spark-master:
    image: cploutarchou/spark-base:spark-master-image
    container_name: spark-master
    ports:
      - 8080:8080
      - 7077:7077
    volumes:
      - shared-workspace:/opt/workspace
      - logs_dir:/logs/spark-master
    networks:
      - hadoop

  spark-worker-1:
    image: cploutarchou/spark-base:spark-worker-image
    container_name: spark-worker-1
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1024m
    ports:
      - 8081:8081
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master
    networks:
      - hadoop

  spark-worker-2:
    image: cploutarchou/spark-base:spark-worker-image
    container_name: spark-worker-2
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1024m
    ports:
      - 8082:8081
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master
    networks:
      - hadoop

  hadoop-master:
    image: cploutarchou/hadoop:latest
    container_name: hadoop-master
    restart: always
    ports:
      - 50010:50010
      - 50020:50020
      - 50070:50070
      - 50075:50075
      - 50090:50090
      - 8020:8020
      - 9000:9000
      - 10020:10020
      - 19888:19888
      - 8030:8030
      - 8031:8031
      - 8032:8032
      - 8033:8033
      - 8040:8040
      - 8042:8042
      - 8088:8088
      - 49707:49707
      - 22:22
    networks:
      - hadoop

  hadoop-slave1:
    image: cploutarchou/hadoop:latest
    container_name: hadoop-slave1
    networks:
      - hadoop

  hadoop-slave2:
    image: cploutarchou/hadoop:latest
    container_name: hadoop-slave2
    restart: always
    networks:
      - hadoop

  hadoop-slave3:
    image: cploutarchou/hadoop:latest
    container_name: hadoop-slave3
    restart: always
    networks:
      - hadoop

volumes:
  shared-workspace:
  logs_dir:
  home:

networks:
  hadoop:
    driver: bridge

